---
import { getEntry } from "astro:content";
import Tags from "../../components/Tags.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { formatDate } from "../../utils";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout>
  <a
    href="/articles"
    class="mb-6 inline-block bg-gray-100 p-2 hover:bg-indigo-500 hover:text-white"
    >Back To Articles</a
  >
  <article>
    <h1 class="mb-2 text-4xl font-bold">
      {entry.data.title}
    </h1>
    <h3 class="mb-2 text-lg">
      Written by {entry.data.author} on {formatDate(entry.data.pubDate)}
    </h3>
    <Tags tags={entry.data.tags} />
    <img
      src={"/images/" + entry.data.image}
      alt="Article Image"
      class="my-6 mb-6 h-auto w-full rounded-xl"
    />
    <Content />
  </article>
</MainLayout>

<style is:global>
  p,
  h2 {
    margin: 20px 0;
  }

  h2 {
    font-size: 1.6rem;
  }
</style>
