---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro";

const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<MainLayout title="All Articles">
  <h1 class="pb-3 text-2xl">All Articles</h1>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {allBlogArticles.map((article) => <ArticleCard article={article} />)}
  </div>

  <div class="mt-10 flex justify-between">
    <a
      href="#"
      class="inline-block rounded-lg bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white"
    >
      Previous
    </a>
    <a
      href="#"
      class="inline-block rounded-lg bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white"
    >
      Next
    </a>
  </div>
</MainLayout>
