---
import type { CollectionEntry } from "astro:content";
import SearchForm from "../components/SearchForm.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { HOMEPAGE_ARTICLE_LIMIT } from "../constants";
import ArticleCard from "../components/ArticleCard.astro";
import MostRecentArticle from "../components/MostRecentArticle.astro";
import { getAllBlogArticlesSorted } from "../utils";

const allBlogArticles: CollectionEntry<"blog">[] =
  await getAllBlogArticlesSorted();

const mostRecentArticle: CollectionEntry<"blog"> = allBlogArticles[0];

const otherArticles: CollectionEntry<"blog">[] = allBlogArticles.slice(1);
---

<MainLayout title="Tech People Blog">
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div>
      <h1 class="mt-4 mb-8 text-5xl leading-tight font-bold xl:text-6xl">
        Articles, Stories &amp; Tutorials for Tech People
      </h1>
      <SearchForm />
    </div>
    <MostRecentArticle article={mostRecentArticle} />
  </div>

  <!-- Main Grid -->
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      otherArticles
        .slice(0, HOMEPAGE_ARTICLE_LIMIT)
        .map((article) => <ArticleCard article={article} />)
    }
  </div>
</MainLayout>
