---
interface Props {
  currentPage: number;
  totalPages: number;
}

const { currentPage, totalPages } = Astro.props;
---

<div class="mt-10 flex justify-between">
  <a
    href={currentPage > 1 ? "/articles?page=" + (currentPage - 1) : "#"}
    class={currentPage > 1
      ? "inline-block rounded-lg bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white"
      : "inline-block rounded-lg bg-gray-100 px-3 py-2 text-gray-400 pointer-events-none"}
  >
    Previous
  </a>
  <a
    href={currentPage < totalPages
      ? "/articles?page=" + (currentPage + 1)
      : "#"}
    class={currentPage < totalPages
      ? "inline-block rounded-lg bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white"
      : "inline-block rounded-lg bg-gray-100 px-3 py-2 text-gray-400 pointer-events-none"}
  >
    Next
  </a>
</div>
